<div class="container mt-5">
  <h2>Offene Anfragen</h2>
  <p *ngIf="requests.length == 0">Du hast keine offenen Anfragen!</p>
  <ul class="p-0 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <li class="request-list-item col" *ngFor="let request of requests" [request]="request">

    </li>
  </ul>

  <h2 class="mt-5">Gesendete Anfragen</h2>
  <p *ngIf="sentRequests.length == 0">Du hast keine offenen gesendeten Anfragen!</p>
  <ul class="p-0 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <li class="request-list-item col" *ngFor="let request of sentRequests" [request]="request">

    </li>
  </ul>
</div>


