<div class="container error-404">
  <div class="row h-100">
    <div class="col-md-6 align-self-center">
      <img src="https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2FkJTIwc3R1ZGVudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
    </div>
    <div class="col-md-6 align-self-center">
      <h1>404</h1>
      <h2>UH OH! Du hast dich verlaufen.</h2>
      <p>Diese Seite existiert nicht
        Klicke auf den Button unten um zur Startseite zurückzukehren.
      </p>
      <button class="btn btn-primary" routerLink="/ads">Zur Startseite</button>
    </div>
  </div>
</div>
