<div class="card h-100">
  <div class="card-body">
    <div class="card-title text-primary fw-bold fs-5">{{ad?.title}}</div>
    <div class="card-text">
      <p *ngIf="request?.state=='requested'"><b>Wunschtermin: </b>{{request?.date | date: 'longDate'}}  -
        {{request?.time}}</p>
      <p *ngIf="request?.state=='suggested'"><b>Terminvorschlag: </b>
          {{request?.date | date : 'longDate'}} -
          {{request?.time}}</p>
      <p *ngIf="ad.user_id == currentUserId">Anfragende*r: {{request?.user?.name}}</p>
      <p *ngIf="request?.user_id == currentUserId">Anfrage an: {{ad?.user?.name}}</p>
      <p *ngIf="request?.comment">Anmerkung: {{request?.comment}}</p>
    </div>
    <hr *ngIf="ad.user_id == currentUserId">
    <div class="card-text d-flex flex-wrap gap-3 justify-content-center" *ngIf="ad.user_id == currentUserId">
      <button class="btn btn-light w-75" type="button" (click)="denyRequest($event)">Ablehnen</button>
      <button class="btn btn-primary w-75" type="button" (click)="acceptRequest($event)">Annehmen</button>
    </div>
  </div>
</div>



