@import "variables";

*, *:before, *:after {
  box-sizing: border-box;
}

.container{
  margin-bottom: 5em;
}

.fit-content{
  width: fit-content !important;
}

@media screen and (max-width: 768px){
  .container{
    padding: 2em !important;
  }

  .login-form{
    width: 75% !important;
  }
}

