<div class="container mt-5">
  <h1>Deine Termine</h1>
  <p *ngIf="openMeetingDates.length == 0">Du hast keine offenen Termine!</p>
  <div class="p-0 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="user-meetings-item" *ngFor="let meeting of openMeetingDates" [meeting]="meeting">

    </div>
  </div>
  <h2 class="mt-5">Vergangene Termine</h2>

  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item bg-transparent border border-0">
      <h2 class="accordion-header bg-transparent border border-0" id="panelsStayOpen-headingOne">
        <button class="accordion-button bg-transparent text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Ohne Status
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <p *ngIf="pastMeetingDates.length <1" class="list-group-item text-white bg-transparent">Keine Einträge vorhanden</p>
          <div class="p-0 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="user-meetings-item" *ngFor="let meeting of pastMeetingDates" [meeting]="meeting">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item bg-transparent border border-0">
      <h2 class="accordion-header bg-transparent border border-0" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed text-white bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Erledigt
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <p *ngIf="doneMeetingDates.length <1" class="list-group-item text-white bg-transparent">Keine Einträge vorhanden</p>
          <div class="p-0 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="user-meetings-item" *ngFor="let meeting of doneMeetingDates" [meeting]="meeting">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item bg-transparent border border-0">
      <h2 class="accordion-header bg-transparent border border-0" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed text-white bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Abgesagt
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <p *ngIf="calledOfMeetingDates.length <1" class="list-group-item text-white bg-transparent">Keine Einträge vorhanden</p>
          <div class="p-0 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="user-meetings-item col p-3" *ngFor="let meeting of calledOfMeetingDates" [meeting]="meeting">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  <ul class="list-group list-group-flush w-100">-->
<!--    <li class="user-meetings-item list-group-item bg-dark" *ngFor="let meeting of pastMeetingDates" [meeting]="meeting">-->

<!--    </li>-->
<!--  </ul>-->
</div>



